{% extends 'base.html'%}

{% from 'comment_macro.html' import display_comments%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
{{super()}}

{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Comments</h1>
        <a href="/pitches"><button class="btn">Pitch</button></a>
    </div>

    <div class="row col-md-12">
        <div class="col-md-4">
            <div class="text-white">{{wtf.quick_form(form)}}</div>
        </div>
    
        <div class="col-md-8">
            <h2 class="text-center text-white">Comment History</h2>
            <p>{{display_comments(comments)}}</p>
        </div>
    </div>
</div>

{% endblock%}