{% extends 'base.html'%}
{% block content%}
{% block styles %}
{{super()}}
{% endblock %}

<div class="container">
    <div class="text-center bg-transparent">
        <h1><b>The Pitch App</b></h1>
    </div>
</div>
<br>

<!--<div class="container btn-group-lg">
    <button type="button" class="btn btn-success btn-lg"><a href="./signup">Sign Up</a></button>
    <button type="button" class="btn btn-success btn-lg"><a href="./login">Log In</a></button>
</div>-->
<hr>
<br>
<div class="container">
    <div class ="container btn btn-group">
        <a href="./signup"  type="button" class="btn btn-success btn-lg btn-block">Create new account.</a>
        <br>
        <br>
        <br>
        <a href="./login" type="button" class="btn btn-info btn-lg btn-block">Login to an existing account.</a>
    </div>
</div>
<br>
<hr>
<br>

<div class="container text-center">
    <h4><b>A Mugendi Production. (2021)</b></h4>
</div>
{% endblock %}