{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container" style="text-align: center;">
    <div>
        <h3 class="text-center" >Log In</h3> 

        {% for message in get_flashed_messages() %}

        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        
        {% endfor %}
    </div>
    <br>
    <div class="container">
        <div class="container">
           {{wtf.quick_form(form)}}
        </div>
    </div>
    <br>
    <div class="container">
        <p> Don't have an account?.. <a id="sign" href="{{url_for('auth.signup')}}">Sign up</a></p>
    </div>
</div>
{% endblock %}