{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{%block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
{%endblock%}

<!-- Content block -->
{%block content%}
<div class="container" style="font-family: 'Indie Flower', cursive;">
    <div class="row">
        <h3><b>{{pitch.title}}</b></h3>
        <hr>
        <p>{{pitch.pitch}}</p>

    </div>
    <br>
    <div class="row">
        <h4><b>Comments</b></h4>
        <hr>
        {% if current_user.is_authenticated %}
            {{ wtf.quick_form(comment_form) }}
        {%endif%}
        {{macro.displayComments(comments)}}
        <br>
    </div>

</div>
{%endblock%}